<div class="dark-background">
  <h1 style="margin-top: 0px;" class="text-default">My Skills</h1>
  <p class="text-default">
    I am a full stack developer with years of professional experience at all levels of
    application development.
    I am a full stack developer with years of professional experience at all levels of
    application development.
    I am a full stack developer with years of professional experience at all levels of
    application development.
    I am a full stack developer with years of professional experience at all levels of
    application development.
    I am a full stack developer with years of professional experience at all levels of
    application development.

  </p>
</div>
