<footer class="black-background" style="height: 100px;">
  <div class="container"  style="color: #ffffff; font-size: 15px;">
    <span class="attribution">
      Custom Coded by Me. &copy; {{ today | date: 'yyyy' }}.
    </span>
    <br />
    <a href="https://github.com/wgimson" class="social-links"><span><i class="fa fa-github" aria-hidden="true"></i></span></a>
    <a href="https://www.linkedin.com/in/william-gimson-a8499228/" class="social-links"><span><i class="fa fa-linkedin" aria-hidden="true"></i></span></a>
  </div>
</footer>
