/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.text-default {
  font-size: 3.2rem;
  margin: 10rem 0 2.0rem;
  line-height: 1.4;
  font-weight: 700;
  text-align: center;
  color: #252a30;
  font-family: 'Montserrat', sans-serif;
}

.text-small {
  font-size: 2.1rem;
  margin: 10rem 0 2.0rem;
  line-height: 0.5;
  font-weight: 400;
  text-align: center;
  color: #252a30;
  font-family: 'Montserrat', sans-serif;
}

.light-background {
  background: #fff
}


.dark-background {
  background: #eeeeef;
}

.modal-content {
  position: fixed !important;
  max-height: 650px !important;
  overflow-x: auto !important;
  top: auto !important;
  left: auto !important;
  width: 100%;
}

.col-4 {
  margin-bottom: 20px;
}
